@function calculateValue($currentProgress, $minProgress, $maxProgress, $minValue: 0, $maxValue: 1) {
  $progressRange: calc(#{$maxProgress} - #{$minProgress});
  $progressPosition: calc(calc(#{$currentProgress} - #{$minProgress}) / #{$progressRange});
  $valueRange: calc(#{$maxValue} - #{$minValue});
  $mappedValue: calc($minValue + calc(#{$valueRange} * #{$progressPosition}));
  $limitedValue: max(#{$minValue}, min(#{$maxValue}, #{$mappedValue}));
  @return $limitedValue;
}

@function easeInQuart($progress) {
  @return calc(#{$progress} * #{$progress} * #{$progress});
}